@tailwind base;
@tailwind components;
@tailwind utilities;

.home-page {
  position: relative;
  background-image: url("/images/test.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.home-page::after {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to right, #1D1D1D, transparent);
}

.text-gradient-primary {
  background: linear-gradient(to left, #FFE24B, #FFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.overflow-x-scroll {
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-x: auto;
}

.ellipsis-1line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
